.logo{
    height: 40px;
    width: 291px;
} 

.banner-img{
    width: 407px;
    height: 407px;
}

.header-bg{
    background-color: #FFF9F4;
}

.nike-text-clr{
    color: #FA804C; 
}

.infinity-text-clr{
    color: #363958; 
} 

.card-shoe-size{
    height: 311px;
    width: 311px;
}

.footer-img{
    width: 550px;
    height: 350px;
}

.footer-icon{
    height: 80px;
    width: 80px;
}